{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block body %}
    <!-- Header avec slider -->
    <header>
        <section class="container">
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="{{ asset('images/home/joyboy.png') }}" alt="image one piece" />
                    <img id="slide-2" src="{{ asset('images/home/sasuke-vs-naruto-combat-premier.webp') }}" alt="image demon slayer" />
                    <img id="slide-3" src="{{ asset('images/home/Muzan_rencontrant_Tanjiro.webp') }}" alt="image jujutsu kaisen" />
                </div>
                <div class="caption">
                    Découvrez, Partagez, et Débattez sur vos mangas et animes préférés
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
                <button class="nav-button left" onclick="moveSlide(-1)">&#10094;</button>
                <button class="nav-button right" onclick="moveSlide(1)">&#10095;</button>
            </div>
        </section>
        <div class="button">
            <a href="{{ path('app_register') }}" class="button-start">Commencez maintenant</a>
        </div>
    </header>

    <script src="{{ asset('js/home/home.js') }}"></script>
{% endblock %}
