
{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <section id="profile">
            <div class="profile-header">
                <h2>Profil</h2>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_dashboard') }}" class="admin-button">Espace Admin</a>
                {% endif %}
            </div>   
            <form id="profile-form">
                <label for="avatar">Avatar:</label>
                <input type="file" id="avatar" name="avatar">
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                
                <button type="submit">Mettre à jour</button>
            </form>
        </section>

        <section id="password">
            <h2>Changer le mot de passe</h2>
            <form id="password-form">
                <label for="old-password">Ancien mot de passe:</label>
                <input type="password" id="old-password" name="old-password">
                
                <label for="new-password">Nouveau mot de passe:</label>
                <input type="password" id="new-password" name="new-password">
                
                <label for="confirm-password">Confirmer le nouveau mot de passe:</label>
                <input type="password" id="confirm-password" name="confirm-password">
                
                <button type="submit">Changer le mot de passe</button>
            </form>
        </section>

        <section id="reviews">
            <h2>Mes Critiques</h2>
            <p>Pour consulter vos critiques, <a href="{{ path('mes_critiques') }}">cliquez ici</a>.</p>
        </section>

        <section id="theories">
            <h2>Mes Théories</h2>
            <p>Pour consulter vos théories, <a href="{{ path('mes_theories') }}">cliquez ici</a>.</p>
        </section>

        <section id="posts">
            <h2>Mes Posts</h2>
            <p>Pour consulter vos posts, <a href="{{ path('mes_posts') }}">cliquez ici</a>.</p>
        </section>

        <section id="commentaires">
            <h2>Mes Commentaires</h2>
            <p>Pour consulter vos commentaires, <a href="{{ path('mes_commentaires') }}">cliquez ici</a>.</p>
        </section>
        
    </div>
{% endblock %}
