{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <section id="profile">
            <div class="profile-header">
                <h2>Profil</h2>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_dashboard') }}" class="admin-button">Espace Admin</a>
                {% endif %}
            </div>   
            <p>Vous pourrez bientôt changer vos informations personnelles...</p>
        </section>

        <section id="password">
            <h2>Changer le mot de passe</h2>
            <p>Vous pourrez bientôt changer votre mot de passe...</p>
        </section>

        <section id="reviews">
            <h2>Mes Critiques</h2>
            <p>Pour consulter vos critiques, <a href="{{ path('mes_critiques') }}">cliquez ici</a>.</p>
        </section>

        <section id="theories">
            <h2>Mes Théories</h2>
            <p>Pour consulter vos théories, <a href="{{ path('mes_theories') }}">cliquez ici</a>.</p>
        </section>

        <section id="posts">
            <h2>Mes Posts</h2>
            <p>Pour consulter vos posts, <a href="{{ path('mes_posts') }}">cliquez ici</a>.</p>
        </section>

        <section id="commentaires">
            <h2>Mes Commentaires</h2>
            <p>Pour consulter vos commentaires, <a href="{{ path('mes_commentaires') }}">cliquez ici</a>.</p>
        </section>
        
    </div>
{% endblock %}
